@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
/*font-family: 'Playfair Display', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/*font-family: 'Pacifico', cursive;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Playfair Display", serif;
}

body {
  overflow-x: hidden;
  background-color: #706e6e;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .navbar {
  width: 100%;
  min-height: 100px;
  background-color: rgba(35, 32, 31, 0.98);
  box-shadow: 0 0 15px #4b0303;
  z-index: 99;
}
.header .navbar .navbar-brand {
  display: flex;
}
.header .navbar .navbar-brand .logo {
  width: 50px;
  margin: auto 10px;
}
.header .navbar .navbar-brand h1 {
  text-shadow: 0 0 15px #881c1c;
}
.header .navbar .navbar-brand h1 span {
  display: block;
  padding-left: 15px;
}
.header .navbar .navbar-brand:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.header .navbar .navbar-toggler {
  margin: 20px;
}
.header .navbar .navbar-toggler:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.header .navbar .navbar-collapse {
  font-size: 18px;
}
.header .navbar .navbar-collapse .dropdown-item {
  color: #fff;
}
.header .navbar .navbar-collapse .dropdown-item:hover {
  background-color: #881c1c;
}
.header .navbar .navbar-collapse .submenu-item {
  background-color: #312c2b;
  color: #fa8686;
}
.header .navbar .navbar-collapse .submenu-item:hover {
  background-color: #881c1c;
}
.header .navbar .navbar-collapse .redesNav {
  display: block;
  width: 100%;
  border: 0;
  padding-left: 10px;
  background-color: transparent;
  font-weight: 400;
  text-align: inherit;
}
.header .navbar .navbar-collapse .redesNav-item {
  padding: 10px;
  color: #fff;
}
.header .navbar .navbar-collapse .redesNav-item:hover, .header .navbar .navbar-collapse .redesNav-item:focus {
  background-color: #881c1c;
  color: #fff;
  text-decoration: none;
}
.header .jumbotron {
  margin-top: 150px;
  background-color: transparent;
  color: black;
}
.header .jumbotron .container {
  background-color: #beb8b6;
  margin: auto;
  margin-left: 5%;
  padding: 20px;
  border: #4b0303 5px inset;
  box-shadow: 0 0 15px #4b0303;
  text-shadow: 0 0 15px #4b0303;
  -webkit-animation-name: moverDerecha;
          animation-name: moverDerecha;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@-webkit-keyframes moverDerecha {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes moverDerecha {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header .jumbotron .container h2 {
  font-size: 22px;
  font-family: "Pacifico", cursive;
}
.header .jumbotron .container p {
  padding: 5px;
  font-size: 16px;
}
.header .jumbotron .container p .redes a {
  font-size: 16px;
  color: black;
  letter-spacing: 15px;
}
.header .jumbotron .container p .redes a:hover {
  font-size: 32px;
  color: #881c1c;
}
.header .jumbotron .container button {
  margin: 20px auto;
  background-color: #881c1c;
  border: solid 2px white;
  box-shadow: 0 0 15px black;
  font-size: 20px;
}
.header .jumbotron .container button:hover {
  background-color: #4b0303;
  border: solid 2px #fff;
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
  transition: 0.5s;
}
.header .jumbotron .container a:hover {
  text-decoration: none;
}
.header .boton-bajar {
  text-align: center;
  line-height: 30px;
  z-index: 15;
  align-self: center;
  margin-bottom: 200px;
  text-shadow: 0 0 5px #fff;
  font-size: 16px;
  -webkit-animation-name: botonBajar;
          animation-name: botonBajar;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.header .boton-bajar a {
  text-decoration: none;
}
.header .boton-bajar a p {
  color: #4b0303;
}
.header .boton-bajar a i {
  color: #4b0303;
}
@-webkit-keyframes botonBajar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px);
  }
}
@keyframes botonBajar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px);
  }
}

.header-index {
  background-image: linear-gradient(to top, rgb(112, 110, 110), rgba(146, 144, 144, 0.8), rgba(181, 180, 180, 0), rgba(217, 217, 217, 0), rgba(255, 255, 255, 0)), url(../assets/img/muffins-2.png);
}

.header-productos {
  background-image: linear-gradient(to top, rgb(112, 110, 110), rgba(146, 144, 144, 0.8), rgba(181, 180, 180, 0), rgba(217, 217, 217, 0), rgba(255, 255, 255, 0)), url(../assets/img/postres-4.png);
}

.header-galeria {
  background-image: linear-gradient(to top, rgb(112, 110, 110), rgba(146, 144, 144, 0.8), rgba(181, 180, 180, 0), rgba(217, 217, 217, 0), rgba(255, 255, 255, 0)), url(../assets/img/frutosRojos.png);
}

.header-sobreMi {
  background-image: linear-gradient(to top, rgb(112, 110, 110), rgba(146, 144, 144, 0.8), rgba(181, 180, 180, 0), rgba(217, 217, 217, 0), rgba(255, 255, 255, 0)), url(../assets/img/postres-1.png);
}

.header-contacto {
  background-image: linear-gradient(to top, rgb(112, 110, 110), rgba(146, 144, 144, 0.8), rgba(181, 180, 180, 0), rgba(217, 217, 217, 0), rgba(255, 255, 255, 0)), url(../assets/img/alfajores-4.png);
}

.main-index {
  padding-top: 100px;
  transition: all 1s;
}
.main-index .sec-index {
  min-height: 40vh;
  padding: 20px 20px 40px 20px;
  background-image: linear-gradient(to bottom, #706e6e, #929090, #b5b4b4, #d9d9d9);
}
.main-index .sec-index h3 {
  background-color: #881c1c;
  text-shadow: 0 0 15px black;
  padding: 10px;
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
}
.main-index .sec-index .fila-index h4 {
  padding: 10px;
  font-size: 24px;
  color: #881c1c;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 0 0 15px #fff;
}
.main-index .sec-index .fila-index .prod-index {
  width: 100%;
  padding: 10px;
}
.main-index .sec-index .fila-index .prod-index h5 {
  padding: 10px;
  font-size: 32px;
  color: #4b0303;
  font-family: "Pacifico", cursive;
  font-style: italic;
  background-image: radial-gradient(#929090, #b5b4b4, #d9d9d9);
}
.main-index .sec-index .fila-index .prod-index .carousel-index {
  width: 100%;
  border: #fff solid 2px;
  box-shadow: 0 0 15px #4b0303;
}
.main-index .sec-index .fila-index .prod-index .carousel-index img {
  box-shadow: 0 0 15px #4b0303;
}
.main-index .sec-index .fila-index p {
  padding: 10px;
  font-size: 16px;
  color: black;
  text-shadow: 0 0 15px #fff;
}
.main-index .sec-index .fila-index .boton-index {
  margin: 30px;
  background-color: rgb(212, 32, 32);
  border: solid 3px rgb(221, 174, 174);
  border-radius: 10%;
  box-shadow: 0 0 15px #881c1c;
  padding: 5px;
  font-size: 18px;
  color: #fff;
}
.main-index .sec-index .fila-index .boton-index:hover {
  background-color: #881c1c;
  border: solid 4px #fff;
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}
.main-index .sec-index .fila-index .img-logo-index {
  box-shadow: 0 0 25px #881c1c;
}
.main-index .sec-index .fila-index iframe {
  height: 350px;
  width: 100%;
  box-shadow: 0 0 15px #4b0303;
}

.main-productos {
  background-image: linear-gradient(to top, #706e6e, #816363, #8f5756, #9a4948, #8f5756, #816363, #706e6e);
  transition: all 1s;
}
.main-productos .sec-productos {
  padding: 100px 20px 20px 20px;
}
.main-productos .sec-productos h3 {
  padding: 10px;
  font-size: 24px;
  color: #4b0303;
  font-family: "Pacifico", cursive;
  font-style: italic;
  box-shadow: 0 0 15px #4b0303;
  background-image: radial-gradient(#929090, #b5b4b4, #d9d9d9);
}
.main-productos .sec-productos .carousel .carousel-prod {
  width: 100%;
  border: #fff solid 2px;
  box-shadow: 0 0 15px #4b0303;
}
.main-productos .sec-productos .carousel .carousel-prod img {
  box-shadow: 0 0 15px #4b0303;
}
.main-productos .sec-productos .carousel .carousel-caption a button {
  background-color: #881c1c;
  border: solid 3px #fff;
  border-radius: 10%;
  font-size: 18px;
}
.main-productos .sec-productos .carousel .carousel-caption a button:hover {
  background-color: #4b0303;
  border: solid 4px #fff;
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}
.main-productos .sec-productos p {
  padding: 20px;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 5px #4b0303;
}

.main-galeria .galeria {
  width: 100%;
  min-height: 100vh;
  display: grid;
  background-color: #706e6e;
  padding: 100px 20px 20px 20px;
}
.main-galeria .galeria .item {
  height: 400px;
  width: auto;
  border: solid 1px #23201f;
  box-shadow: 0px 0px 25px #333;
  background-position: center;
  background-size: cover;
  margin: 10px;
}
.main-galeria .galeria .item1 {
  background-image: url(../assets/img/tortas-1.webp);
}
.main-galeria .galeria .item1:hover {
  box-shadow: 0px 0px 15px red inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-1.webp);
}
.main-galeria .galeria .item1:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-1.webp);
}
.main-galeria .galeria .item1:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-1.webp);
}
.main-galeria .galeria .item1:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-1.webp);
}
.main-galeria .galeria .item1:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-1.webp);
}
.main-galeria .galeria .item2 {
  background-image: url(../assets/img/tortas-2.webp);
}
.main-galeria .galeria .item2:hover {
  box-shadow: 0px 0px 15px red inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-2.webp);
}
.main-galeria .galeria .item2:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-2.webp);
}
.main-galeria .galeria .item2:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-2.webp);
}
.main-galeria .galeria .item2:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-2.webp);
}
.main-galeria .galeria .item2:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-2.webp);
}
.main-galeria .galeria .item3 {
  background-image: url(../assets/img/tortas-3.webp);
}
.main-galeria .galeria .item3:hover {
  box-shadow: 0px 0px 15px red inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-3.webp);
}
.main-galeria .galeria .item3:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-3.webp);
}
.main-galeria .galeria .item3:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-3.webp);
}
.main-galeria .galeria .item3:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-3.webp);
}
.main-galeria .galeria .item3:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-3.webp);
}
.main-galeria .galeria .item4 {
  background-image: url(../assets/img/tortas-4.webp);
}
.main-galeria .galeria .item4:hover {
  box-shadow: 0px 0px 15px red inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-4.webp);
}
.main-galeria .galeria .item4:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-4.webp);
}
.main-galeria .galeria .item4:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-4.webp);
}
.main-galeria .galeria .item4:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-4.webp);
}
.main-galeria .galeria .item4:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/tortas-4.webp);
}
.main-galeria .galeria .item5 {
  background-image: url(../assets/img/postres-1.webp);
}
.main-galeria .galeria .item5:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-1.webp);
}
.main-galeria .galeria .item5:hover {
  box-shadow: 0px 0px 15px green inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-1.webp);
}
.main-galeria .galeria .item5:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-1.webp);
}
.main-galeria .galeria .item5:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-1.webp);
}
.main-galeria .galeria .item5:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-1.webp);
}
.main-galeria .galeria .item6 {
  background-image: url(../assets/img/postres-2.webp);
}
.main-galeria .galeria .item6:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-2.webp);
}
.main-galeria .galeria .item6:hover {
  box-shadow: 0px 0px 15px green inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-2.webp);
}
.main-galeria .galeria .item6:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-2.webp);
}
.main-galeria .galeria .item6:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-2.webp);
}
.main-galeria .galeria .item6:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-2.webp);
}
.main-galeria .galeria .item7 {
  background-image: url(../assets/img/postres-3.webp);
}
.main-galeria .galeria .item7:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-3.webp);
}
.main-galeria .galeria .item7:hover {
  box-shadow: 0px 0px 15px green inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-3.webp);
}
.main-galeria .galeria .item7:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-3.webp);
}
.main-galeria .galeria .item7:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-3.webp);
}
.main-galeria .galeria .item7:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-3.webp);
}
.main-galeria .galeria .item8 {
  background-image: url(../assets/img/postres-4.webp);
}
.main-galeria .galeria .item8:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-4.webp);
}
.main-galeria .galeria .item8:hover {
  box-shadow: 0px 0px 15px green inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-4.webp);
}
.main-galeria .galeria .item8:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-4.webp);
}
.main-galeria .galeria .item8:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-4.webp);
}
.main-galeria .galeria .item8:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/postres-4.webp);
}
.main-galeria .galeria .item9 {
  background-image: url(../assets/img/muffins-1.webp);
}
.main-galeria .galeria .item9:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-1.webp);
}
.main-galeria .galeria .item9:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-1.webp);
}
.main-galeria .galeria .item9:hover {
  box-shadow: 0px 0px 15px orange inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-1.webp);
}
.main-galeria .galeria .item9:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-1.webp);
}
.main-galeria .galeria .item9:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-1.webp);
}
.main-galeria .galeria .item10 {
  background-image: url(../assets/img/muffins-2.webp);
}
.main-galeria .galeria .item10:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-2.webp);
}
.main-galeria .galeria .item10:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-2.webp);
}
.main-galeria .galeria .item10:hover {
  box-shadow: 0px 0px 15px orange inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-2.webp);
}
.main-galeria .galeria .item10:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-2.webp);
}
.main-galeria .galeria .item10:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-2.webp);
}
.main-galeria .galeria .item11 {
  background-image: url(../assets/img/muffins-3.webp);
}
.main-galeria .galeria .item11:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-3.webp);
}
.main-galeria .galeria .item11:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-3.webp);
}
.main-galeria .galeria .item11:hover {
  box-shadow: 0px 0px 15px orange inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-3.webp);
}
.main-galeria .galeria .item11:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-3.webp);
}
.main-galeria .galeria .item11:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-3.webp);
}
.main-galeria .galeria .item12 {
  background-image: url(../assets/img/muffins-4.webp);
}
.main-galeria .galeria .item12:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-4.webp);
}
.main-galeria .galeria .item12:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-4.webp);
}
.main-galeria .galeria .item12:hover {
  box-shadow: 0px 0px 15px orange inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-4.webp);
}
.main-galeria .galeria .item12:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-4.webp);
}
.main-galeria .galeria .item12:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/muffins-4.webp);
}
.main-galeria .galeria .item13 {
  background-image: url(../assets/img/alfajores-1.webp);
}
.main-galeria .galeria .item13:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-1.webp);
}
.main-galeria .galeria .item13:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-1.webp);
}
.main-galeria .galeria .item13:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-1.webp);
}
.main-galeria .galeria .item13:hover {
  box-shadow: 0px 0px 15px blue inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-1.webp);
}
.main-galeria .galeria .item13:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-1.webp);
}
.main-galeria .galeria .item14 {
  background-image: url(../assets/img/alfajores-2.webp);
}
.main-galeria .galeria .item14:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-2.webp);
}
.main-galeria .galeria .item14:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-2.webp);
}
.main-galeria .galeria .item14:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-2.webp);
}
.main-galeria .galeria .item14:hover {
  box-shadow: 0px 0px 15px blue inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-2.webp);
}
.main-galeria .galeria .item14:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-2.webp);
}
.main-galeria .galeria .item15 {
  background-image: url(../assets/img/alfajores-3.webp);
}
.main-galeria .galeria .item15:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-3.webp);
}
.main-galeria .galeria .item15:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-3.webp);
}
.main-galeria .galeria .item15:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-3.webp);
}
.main-galeria .galeria .item15:hover {
  box-shadow: 0px 0px 15px blue inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-3.webp);
}
.main-galeria .galeria .item15:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-3.webp);
}
.main-galeria .galeria .item16 {
  background-image: url(../assets/img/alfajores-4.webp);
}
.main-galeria .galeria .item16:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-4.webp);
}
.main-galeria .galeria .item16:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-4.webp);
}
.main-galeria .galeria .item16:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-4.webp);
}
.main-galeria .galeria .item16:hover {
  box-shadow: 0px 0px 15px blue inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-4.webp);
}
.main-galeria .galeria .item16:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/alfajores-4.webp);
}
.main-galeria .galeria .item17 {
  background-image: url(../assets/img/caja-1.webp);
}
.main-galeria .galeria .item17:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-1.webp);
}
.main-galeria .galeria .item17:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-1.webp);
}
.main-galeria .galeria .item17:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-1.webp);
}
.main-galeria .galeria .item17:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-1.webp);
}
.main-galeria .galeria .item17:hover {
  box-shadow: 0px 0px 15px violet inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-1.webp);
}
.main-galeria .galeria .item18 {
  background-image: url(../assets/img/caja-2.webp);
}
.main-galeria .galeria .item18:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-2.webp);
}
.main-galeria .galeria .item18:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-2.webp);
}
.main-galeria .galeria .item18:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-2.webp);
}
.main-galeria .galeria .item18:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-2.webp);
}
.main-galeria .galeria .item18:hover {
  box-shadow: 0px 0px 15px violet inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-2.webp);
}
.main-galeria .galeria .item19 {
  background-image: url(../assets/img/caja-3.webp);
}
.main-galeria .galeria .item19:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-3.webp);
}
.main-galeria .galeria .item19:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-3.webp);
}
.main-galeria .galeria .item19:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-3.webp);
}
.main-galeria .galeria .item19:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-3.webp);
}
.main-galeria .galeria .item19:hover {
  box-shadow: 0px 0px 15px violet inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-3.webp);
}
.main-galeria .galeria .item20 {
  background-image: url(../assets/img/caja-4.webp);
}
.main-galeria .galeria .item20:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-4.webp);
}
.main-galeria .galeria .item20:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-4.webp);
}
.main-galeria .galeria .item20:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-4.webp);
}
.main-galeria .galeria .item20:hover {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-4.webp);
}
.main-galeria .galeria .item20:hover {
  box-shadow: 0px 0px 15px violet inset;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/img/caja-4.webp);
}

.img-modal {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.img-modal-1 {
  background-image: url(../../assets/img/tortas-1.webp);
}

.img-modal-2 {
  background-image: url(../../assets/img/tortas-2.webp);
}

.img-modal-3 {
  background-image: url(../../assets/img/tortas-3.webp);
}

.img-modal-4 {
  background-image: url(../../assets/img/tortas-4.webp);
}

.img-modal-5 {
  background-image: url(../../assets/img/postres-1.webp);
}

.img-modal-6 {
  background-image: url(../../assets/img/postres-2.webp);
}

.img-modal-7 {
  background-image: url(../../assets/img/postres-3.webp);
}

.img-modal-8 {
  background-image: url(../../assets/img/postres-4.webp);
}

.img-modal-9 {
  background-image: url(../../assets/img/muffins-1.webp);
}

.img-modal-10 {
  background-image: url(../../assets/img/muffins-2.webp);
}

.img-modal-11 {
  background-image: url(../../assets/img/muffins-3.webp);
}

.img-modal-12 {
  background-image: url(../../assets/img/muffins-4.webp);
}

.img-modal-13 {
  background-image: url(../../assets/img/alfajores-1.webp);
}

.img-modal-14 {
  background-image: url(../../assets/img/alfajores-2.webp);
}

.img-modal-15 {
  background-image: url(../../assets/img/alfajores-3.webp);
}

.img-modal-16 {
  background-image: url(../../assets/img/alfajores-4.webp);
}

.img-modal-17 {
  background-image: url(../../assets/img/caja-1.webp);
}

.img-modal-18 {
  background-image: url(../../assets/img/caja-2.webp);
}

.img-modal-19 {
  background-image: url(../../assets/img/caja-3.webp);
}

.img-modal-20 {
  background-image: url(../../assets/img/caja-4.webp);
}

.main-sobreMi {
  padding-top: 100px;
  min-height: 100vh;
  background-image: linear-gradient(to top, #706e6e, #816363, #8f5756, #9a4948, #8f5756, #816363, #706e6e);
  display: flex;
  justify-content: space-evenly;
}
.main-sobreMi .sec-sobreMi {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px 10%;
  padding: 20px;
  align-self: center;
  border-radius: 5%;
}
.main-sobreMi .sec-sobreMi h3 {
  padding: 10px;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 15px #881c1c;
}
.main-sobreMi .sec-sobreMi h3 span {
  display: block;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
.main-sobreMi .sec-sobreMi p {
  padding: 10px;
  font-size: 16px;
  color: #000;
  text-shadow: 0 0 5px #fff;
}
.main-sobreMi .sec-sobreMi img {
  box-shadow: 0 0 15px #4b0303;
}

.main-contacto {
  padding-top: 100px;
  background-image: linear-gradient(to bottom, rgb(112, 110, 110), rgba(146, 144, 144, 0.3), rgba(181, 180, 180, 0), rgba(217, 217, 217, 0), rgba(255, 255, 255, 0)), url(../assets/img/muffins-3.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
}
.main-contacto .datos-contacto, .main-contacto .form-contacto {
  height: auto;
  margin: 20px;
  background-color: rgba(35, 32, 31, 0.8);
  border: solid 1px #fff;
  border-radius: 5%;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  display: none;
}
.main-contacto .datos-contacto a, .main-contacto .form-contacto a {
  color: #fff;
  text-decoration: none;
}
.main-contacto .datos-contacto a:hover, .main-contacto .form-contacto a:hover {
  color: #881c1c;
}
.main-contacto .form-contacto {
  background-color: rgba(136, 28, 28, 0.8);
  display: flex;
  flex-direction: column;
}
.main-contacto .form-contacto .complForm {
  width: 100%;
}
.main-contacto .form-contacto input {
  transition: all 1s;
}
.main-contacto .form-contacto input:focus {
  border: 5px #4b0303 solid;
  padding: 10px;
  font-size: 22px;
  color: #4b0303;
}
.main-contacto .form-contacto .botonEnviar {
  background-color: #23201f;
  border: solid 2px #fff;
  padding: 5px;
  font-size: 20px;
  color: #fff;
}
.main-contacto .form-contacto .botonEnviar:hover {
  background-color: #4b0303;
  transform: scale(1.2);
  transition: 0.5s;
}

.footer {
  min-height: 150px;
  background-color: #23201f;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  color: #fff;
}
.footer .lista {
  display: none;
}
.footer .lista ul {
  list-style: none;
  font-size: 0;
  align-self: center;
}
.footer .lista li a {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  color: #fff;
}
.footer .lista li a:hover {
  color: #df3030;
}
.footer .logoFooter {
  display: none;
  padding: 5px;
  font-size: 24px;
  text-align: center;
  align-self: center;
}
.footer .logoFooter h5 {
  padding: 10px;
  font-size: 35px;
  text-shadow: 0 0 15px #4b0303;
}
.footer .logoFooter img {
  height: 50px;
  width: 50px;
  align-self: center;
  box-shadow: 0 0 15px #4b0303;
  margin: 5px;
}
.footer .logoFooter a {
  padding: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.footer .logoFooter a:hover {
  color: #df3030;
}
.footer .contactoFooter {
  grid-column: 1/2;
  grid-row: 1/2;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 15px;
}
.footer .contactoFooter h6 {
  padding: 5px;
  font-size: 24px;
}
.footer .contactoFooter a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 16px;
}
.footer .contactoFooter a:hover {
  color: #df3030;
}
.footer .contactoFooter p {
  padding: 5px;
  font-size: 18px;
}
.footer #copyrigth {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: black;
  padding: 0px;
  font-size: 16px;
  color: #fff;
}

.boton-subir, .botones-redes {
  z-index: 15;
  position: fixed;
  bottom: 250px;
  right: 5px;
  background-color: rgba(75, 3, 3, 0.8);
  border-radius: 100%;
  border: solid 2px #fff;
  box-shadow: 0 0 15px #4b0303;
}
.boton-subir i, .botones-redes i {
  padding: 10px;
  font-size: 18px;
  color: #fff;
}

.botones-redes {
  bottom: 350px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .jumbotron .container {
    height: auto;
  }
  .header .jumbotron .container h2 {
    font-size: 35px;
  }
  .header .jumbotron .container p {
    font-size: 20px;
  }
  .header .jumbotron .container p .redes a {
    font-size: 20px;
    letter-spacing: 15px;
  }
  .header .jumbotron .container p .redes a:hover {
    font-size: 30px;
  }
  .main-galeria .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-contacto .datos-contacto, .main-contacto .form-contacto {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 45%;
    font-size: 22px;
  }
  .main-contacto .form-contacto {
    height: 450px;
    width: 45%;
  }
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .footer .lista {
    display: contents;
  }
  .footer .contactoFooter {
    grid-column: 3/4;
    grid-row: 1/2;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer .contactoFooter h6 {
    padding: 5px;
    font-size: 24px;
  }
  .footer .contactoFooter a {
    padding: 5px;
    font-size: 18px;
  }
  .footer #copyrigth {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}
@media only screen and (min-width: 768px) {
  .header .jumbotron {
    min-height: 40vh;
  }
  .header .jumbotron .container {
    max-width: 40%;
    height: auto;
  }
  .header .jumbotron .container h2 {
    font-size: 35px;
  }
  .header .jumbotron .container p {
    font-size: 20px;
  }
  .header .jumbotron .container p .redes a {
    font-size: 20px;
    letter-spacing: 15px;
  }
  .header .jumbotron .container p .redes a:hover {
    font-size: 30px;
  }
  .header .navbar-expand-md .submenuProd {
    position: absolute;
    display: none;
  }
  .header .navbar-expand-md .submenuProd .submenu-item {
    display: block;
  }
  .header .navbar-expand-md ul li:hover ul {
    display: block;
    justify-items: center;
  }
  .main-index .sec-index h3 {
    font-size: 38px;
  }
  .main-index .sec-index .fila-index h4 {
    font-size: 32px;
  }
  .main-index .sec-index .fila-index h5 {
    font-size: 28px;
  }
  .main-index .sec-index .fila-index p {
    font-size: 18px;
  }
  .main-productos .sec-productos h3 {
    font-size: 36px;
  }
  .main-productos .sec-productos p {
    font-size: 24px;
  }
  .main-galeria .galeria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 200px);
    grid-template-areas: "item1 item1 item1 item13 item13" "item1 item1 item1 item9 item3" "item1 item1 item1 item5 item5" "item14 item14 item8 item8 item8" "item2 item2 item8 item8 item8" "item2 item2 item20 item20 item6" "item12 item16 item16 item10 item10" "item18 item18 item7 item10 item10" "item11 item11 item17 item17 item4" "item15 item15 item17 item17 item19";
  }
  .main-galeria .galeria .item1 {
    grid-area: item1;
  }
  .main-galeria .galeria .item2 {
    grid-area: item2;
  }
  .main-galeria .galeria .item3 {
    grid-area: item3;
  }
  .main-galeria .galeria .item4 {
    grid-area: item4;
  }
  .main-galeria .galeria .item5 {
    grid-area: item5;
  }
  .main-galeria .galeria .item6 {
    grid-area: item6;
  }
  .main-galeria .galeria .item7 {
    grid-area: item7;
  }
  .main-galeria .galeria .item8 {
    grid-area: item8;
  }
  .main-galeria .galeria .item9 {
    grid-area: item9;
  }
  .main-galeria .galeria .item10 {
    grid-area: item10;
  }
  .main-galeria .galeria .item11 {
    grid-area: item11;
  }
  .main-galeria .galeria .item12 {
    grid-area: item12;
  }
  .main-galeria .galeria .item13 {
    grid-area: item13;
  }
  .main-galeria .galeria .item14 {
    grid-area: item14;
  }
  .main-galeria .galeria .item15 {
    grid-area: item15;
  }
  .main-galeria .galeria .item16 {
    grid-area: item16;
  }
  .main-galeria .galeria .item17 {
    grid-area: item17;
  }
  .main-galeria .galeria .item18 {
    grid-area: item18;
  }
  .main-galeria .galeria .item19 {
    grid-area: item19;
  }
  .main-galeria .galeria .item20 {
    grid-area: item20;
  }
  .main-galeria .galeria .item {
    height: auto;
    margin: 0px;
  }
  .main-sobreMi .sec-sobreMi p {
    font-size: 20px;
  }
  .main-contacto .datos-contacto, .main-contacto .form-contacto {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 40%;
    font-size: 24px;
  }
  .main-contacto .form-contacto {
    height: 450px;
    width: 40%;
    font-size: 24px;
  }
  .footer {
    grid-template-columns: 5fr 5fr 11fr 10fr;
    grid-template-rows: auto auto;
  }
  .footer .lista {
    display: contents;
  }
  .footer .logoFooter {
    display: contents;
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .footer .contactoFooter {
    grid-column: 4/5;
    grid-row: 1/2;
    flex-direction: column;
  }
  .footer .contactoFooter h6 {
    padding: 5px;
    font-size: 26px;
  }
  .footer .contactoFooter a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 20px;
  }
  .footer .contactoFooter a:hover {
    color: #df3030;
  }
  .footer .contactoFooter p {
    padding: 5px;
    font-size: 22px;
  }
  .footer #copyrigth {
    grid-column: 1/5;
    grid-row: 2/3;
  }
}
@media only screen and (min-width: 1200px) {
  .header .jumbotron {
    min-height: 60vh;
  }
  .header .jumbotron .container {
    max-width: 30%;
  }
  .main-index .sec-index h3 {
    font-size: 40px;
  }
  .main-index .sec-index .fila-index h4 {
    font-size: 38px;
  }
  .main-index .sec-index .fila-index h5 {
    font-size: 36px;
  }
  .main-index .sec-index .fila-index p {
    font-size: 18px;
  }
  .main-productos .sec-productos h3 {
    font-size: 40px;
  }
  .main-productos .sec-productos p {
    font-size: 28px;
  }
  .main-galeria .galeria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 200px);
    grid-template-areas: "item1 item1 item1 item13 item13 item8 item8 item8" "item1 item1 item1 item11 item11 item8 item8 item8" "item1 item1 item1 item11 item11 item3 item17 item17" "item14 item14 item6 item6 item2 item2 item17 item17" "item7 item7 item6 item6 item2 item2 item4 item4" "item7 item7 item5 item5 item10 item10 item4 item4" "item12 item19 item20 item20 item10 item10 item9 item9" "item18 item18 item20 item20 item16 item15 item9 item9";
  }
  .main-sobreMi .sec-sobreMi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
  .main-sobreMi .sec-sobreMi h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    font-size: 60px;
  }
  .main-sobreMi .sec-sobreMi h3 span {
    font-size: 30px;
  }
  .main-sobreMi .sec-sobreMi p {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    font-size: 18px;
    font-size: 22px;
  }
  .main-sobreMi .sec-sobreMi img {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
  }
  .main-contacto .datos-contacto, .main-contacto .form-contacto {
    height: 550px;
    width: 35%;
    font-size: 30px;
  }
  .main-contacto .form-contacto {
    height: 550px;
    width: 35%;
    font-size: 30px;
  }
  .footer .contactoFooter h6 {
    padding: 5px;
    font-size: 26px;
  }
  .footer .contactoFooter a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-size: 28px;
  }
  .footer .contactoFooter a:hover {
    color: #df3030;
  }
  .footer .contactoFooter p {
    padding: 5px;
    font-size: 22px;
  }
}/*# sourceMappingURL=estilos.css.map */