$colorGris: #23201f;
$colorBordo: #4b0303;
$colorBordoClaro: #881c1c;

$heightNav: 100px;

$sombra-15-bordo: 0 0 15px $colorBordo;
$sombra-15-bordoClaro: 0 0 15px $colorBordoClaro;
$sombra-15-negro: 0 0 15px black;