.img-modal {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}
$a: 0;
@each $productos in tortas , postres , muffins , alfajores , caja {
    @for $i from 1 through 4 {
        .img-modal-#{$i+$a}{
            background-image: url(../../assets/img/#{$productos}-#{$i}.webp);
        }
    }
    $a: $a+4;  
}